table	{
	border:1px solid red
}
table td, table th{
	
	padding:5px 10px;
}
table th{
	text-align:center;
	border:1px solid #CCC
}
table th a{
	text-decoration: none;
}
table th a:hover;{
	text-decoration: underline
}
table td{
	border:1px solid #000
}